html {
    box-sizing: border-box;
}

body {
    font-family: "Iranian Sans";
    margin: 0;
    padding: 0;
}

/* Start Project */

.container {
    max-width: 60rem;
    margin-right: auto;
    margin-left: auto;
    padding-right: 1rem;
    padding-left: 1rem;
}

.header {
    background-color: #E8F2FF;
    width: 100%;
    height: 650px;
    top: 0;
    left: 0;
}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 0;
}

.nav {
    display: flex;
    align-items: center;
}

.nav-logo {
    margin-left: 2rem;
}

.menu {
    list-style-type: none;
    padding-right: 3.5rem;
    margin: 1rem;
    display: flex;
}

.menu__item {

}

.menu__link {
    text-decoration: none;
    color: #222222;
    padding: 0 1rem;
}

.header__link {
    background-color: #090909;
    color: #FFFFFF;
    text-decoration: none;
    padding: 0.8rem 1.5rem;
    border-radius: 3.125rem;
}

/* Header Bottom */

.header-bottom {
    margin-top: 2rem;
}

.header-content {
    display: flex;
    align-items: center;
}

.header-content__left {
    flex-basis: 50%;
    order: 1;
}

.header-content__right {
    flex-basis: 50%;
}

.header-content__wrapper {
    max-width: 30rem;
}

.header-content__title {
    color: #000000;
    font-family: "Iranian Sans";
    line-height: 3rem;
    font-size: 1.8rem;
    direction: rtl;
}

.header-content__text {
    color: #000000;
    margin-top: 1.5rem;
    line-height: 1.5rem;
    direction: rtl;
}

.header-content__img {
    width: 65%;
}

/* Start Main */

.main {
    direction: rtl;
}

.works {
    padding: 2rem 0;
    display: flex;
}

.works__text {
    color: #4E4E4E;
    font-family: "IRANSans-Regular", Helvetica;
    font-size: 20px;
    font-weight: 400;
    top: 0;
    left: 0;
}

.works__title {
    color: #000000;
    font-family: "IRANSans-Regular", Helvetica;
    font-size: 34px;
    font-weight: 400;
    margin-bottom: 5rem;
}

.works-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.wrapper2 {
    display: flex;
    flex-wrap: wrap;
}

.works-content__title {
    display: inline-flex;
    flex-direction: column;
    font-size: 18px;
    padding: 0 1rem;
}

.works-content__img1 {
    display: inline-flex;
    flex-direction: column;
}

.works-content__img2 {
    display: inline-flex;
    flex-direction: column;
}

.works-content__img3 {
    display: inline-flex;
    flex-direction: column;
}

.works-content__img4 {
    display: inline-flex;
    flex-direction: column;
}

.works-content__text1 {
    width: 444px;
    color: #868686;
    line-height: 1.5rem;
    padding-bottom: 1.5rem;
}

.works-content__text2 {
    width: 444px;
    color: #868686;
    line-height: 1.5rem;
    padding-bottom: 1.5rem;
}

.works-content__text3 {
    width: 444px;
    color: #868686;
    line-height: 1.5rem;
    padding-bottom: 1.5rem;
}

.works-content__text4 {
    width: 444px;
    color: #868686;
    line-height: 1.5rem;
    padding-bottom: 1.5rem;
}